<div class="jumbotron">
  <h1 *ngIf="!this.service.user.auth">Welcome!</h1>
  <h1 *ngIf="this.service.user.auth">Hello, {{this.service.user.username}}!</h1>
  <p>This is a basic template made by <a href="http://www.ryansadowski.xyz">Ryan Sadowski</a></p>
    <br>
  <p><a class="btn btn-primary btn-lg" href="http://github.com/RyanSadowski/MEAN2Seed" role="button">See project in GitHub</a></p>
</div>


<div class="panel panel-default">
    <div class="panel-body">
        <p>This was originally something I made to learn about using JSON Web Tokens for authentication between an API and Front End. 
        It was first written in Angular 2, NodeJS, MongoDB, running on Heroku.</p>
    </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-body">
          <p> If you look in the top right of the page Header you can login with username: <code>admin</code> password: <code>admin</code>
              Click on the gear icon, you will see and admin only page. If you register an account, you will have a non-admin account.
              Click the <code>Profile</code> link to see the web token, password hash, and other data.</p>
      </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <p><strong>Below</strong> is just me playing with the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API/Using_Web_Audio_API">WebAudioApi</a> to make a synthisizer.</p>
    <p>Turn up the volume slider and start clicking stuff.</p>

        </div>
      </div>



<h3> Slider changes volume</h3>
<input type="range" min="0" max="10" value="0" [(ngModel)]="volume" (change)="ChangeVolume($event.target.value)">
<!-- <input type="text" [(ngModel)]="tone" placeholder="A4" (change)="ChangeNote($event.target.value)"> -->
<ul id="waveFormList">
  <li><input type="radio" [(ngModel)]="oscType" (change)="ChangeWaveForm($event.target.value)" value="sine" id="sine"><span>  sine</span></li>
  <li><input type="radio" [(ngModel)]="oscType" (change)="ChangeWaveForm($event.target.value)" value="square" id="square"><span>  square</span></li>
  <li><input type="radio" [(ngModel)]="oscType" (change)="ChangeWaveForm($event.target.value)" value="sawtooth" id="sawtooth"><span>  saw</span></li>
  <li><input type="radio" [(ngModel)]="oscType" (change)="ChangeWaveForm($event.target.value)" value="triangle" id="triangle"><span>  triangle</span></li>
</ul>

<div id="keyboard">
  <div (click)="ChangeNote('C3')" class="key">C3</div>
  <div (click)="ChangeNote('D3')" class="key">D3</div>
  <div (click)="ChangeNote('E3')" class="key">E3</div>
  <div (click)="ChangeNote('F3')" class="key">F3</div>
  <div (click)="ChangeNote('G3')" class="key">G3</div>
  <div (click)="ChangeNote('A3')" class="key">A3</div>
  <div (click)="ChangeNote('B3')" class="key">B3</div>
  <div (click)="ChangeNote('C4')" class="key">C4</div>
  <div (click)="ChangeNote('D4')" class="key">D4</div>
  <div (click)="ChangeNote('E4')" class="key">E4</div>
  <div (click)="ChangeNote('F4')" class="key">F4</div>
  <div (click)="ChangeNote('G4')" class="key">G4</div>
  <div (click)="ChangeNote('A4')" class="key">A4</div>
  <div (click)="ChangeNote('B4')" class="key">B4</div>
  <div (click)="ChangeNote('C5')" class="key">C5</div>
  <div (click)="ChangeNote('D5')" class="key">D5</div>
  <div (click)="ChangeNote('E5')" class="key">E5</div>
  <div (click)="ChangeNote('F5')" class="key">F5</div>
  <div (click)="ChangeNote('G5')" class="key">G5</div>
  <div (click)="ChangeNote('A5')" class="key">A5</div>
  <div (click)="ChangeNote('B5')" class="key">B5</div>
</div>


<br>

<h3>Low Pass filter 0hz - 1000hz</h3>
<input type="range" min="0" max="1000" value="1000" (change)="ChangeFilter($event.target.value)">
<!-- <p class="muted">Try values like "A4,B5,G2"</p>-->
   