<div class="jumbotron">
  <h1 *ngIf="!userService.authenticated">Welcome!</h1>
  <h1 *ngIf="userService.authenticated">Hello, {{userService.user.username}}!</h1>
  <p>This is a basic template made by <a href="http://www.ryansadowski.xyz">Ryan Sadowski</a></p>
  <p><a class="btn btn-primary btn-lg" href="http://github.com/RyanSadowski/MEAN2Seed" role="button">Learn more</a></p>
</div>

<h3> Slider changes volume, Input box changes tone. </h3>
<input type="range" min="0" max="10" value="0" [(ngModel)]="volume" (change)="ChangeVolume($event.target.value)">
<input type="text" [(ngModel)]="tone" placeholder="A4" (change)="ChangeNote($event.target.value)">
<p class="muted">Try values like "A4,B5,G2"</p>
